.section, body section#heroes, body section#aboutus, body section#photos, body section#prices, body section#entertainer, body section#bookings, body section#contacts, body section#invitation, body footer {
  width: 100%;
  min-height: 500px; }

/*------------------------------------*\
	TYPOGRAPHY 
\*------------------------------------*/
@font-face {
  font-family: 'acmesa';
  src: url("scss/fonts/acmesa.eot");
  src: url("scss/fonts/acmesa.eot?#iefix") format("embedded-opentype"), url("scss/fonts/acmesa.woff") format("woff"), url("scss/scss/fonts/acmesa.ttf") format("truetype"), url("scss/fonts/acmesa.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'agencyr';
  src: url("scss/fonts/AGENCYR.eot");
  src: url("scss/fonts/AGENCYR.eot?#iefix") format("embedded-opentype"), url("scss/fonts/AGENCYR.woff") format("woff"), url("scss/fonts/AGENCYR.ttf") format("truetype"), url("scss/fonts/AGENCYR.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'jcandlestick';
  src: url("scss/fonts/jcandlestick.eot");
  src: url("scss/fonts/jcandlestick.eot?#iefix") format("embedded-opentype"), url("scss/fonts/jcandlestick.woff") format("woff"), url("scss/fonts/jcandlestick.ttf") format("truetype"), url("scss/fonts/jcandlestick.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'champagne';
  src: url("scss/fonts/Champagne & Limousines.eot");
  src: url("scss/fonts/Champagne & Limousines.eot?#iefix") format("embedded-opentype"), url("scss/fonts/Champagne & Limousines.woff") format("woff"), url("scss/fonts/Champagne & Limousines.ttf") format("truetype"), url("scss/fonts/Champagne & Limousines.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'guardians';
  src: url("scss/fonts/Guardians.eot");
  src: url("scss/fonts/Guardians.eot?#iefix") format("embedded-opentype"), url("scss/fonts/Guardians.woff") format("woff"), url("scss/fonts/Guardians.ttf") format("truetype"), url("scss/fonts/Guardians.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sfcomic ex';
  src: url("scss/fonts/SF Comic Script Extended.eot");
  src: url("scss/fonts/SF Comic Script Extended.eot?#iefix") format("embedded-opentype"), url("scss/fonts/SF Comic Script Extended.woff") format("woff"), url("scss/fonts/SF Comic Script Extended.ttf") format("truetype"), url("scss/fonts/SF Comic Script Extended.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sfcomic';
  src: url("scss/fonts/SF Comic Script.eot");
  src: url("scss/fonts/SF Comic Script.eot?#iefix") format("embedded-opentype"), url("scss/fonts/SF Comic Script.woff") format("woff"), url("scss/fonts/SF Comic Script.ttf") format("truetype"), url("scss/fonts/SF Comic Script.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }
.darknight-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,004b9d+100 */
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #004b9d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, #004b9d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, #004b9d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#004b9d',GradientType=0 );
  /* IE6-9 */ }

.superman-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,007dff+50,000000+100 */
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #007dff 50%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, #007dff 50%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, #007dff 50%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.batman-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffd400+50,000000+100 */
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #ffd400 50%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, #ffd400 50%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, #ffd400 50%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.greenlantern-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,a4fe00+50,000000+100 */
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #a4fe00 50%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, #a4fe00 50%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, #a4fe00 50%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.spiderman-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,00ccff+50,000000+100 */
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #00ccff 50%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, #00ccff 50%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, #00ccff 50%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.pirate-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffa53f+50,000000+100 */
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #ffa53f 50%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, #ffa53f 50%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, #ffa53f 50%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.starwars-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,b9a9ff+50,000000+100 */
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #b9a9ff 50%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, #b9a9ff 50%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, #b9a9ff 50%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.theflash-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,cd2d00+50,000000+100 */
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #cd2d00 50%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, #cd2d00 50%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, #cd2d00 50%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.captainamerica-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,007dff+50,000000+100 */
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #007dff 50%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, #007dff 50%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, #007dff 50%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

.ninja-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,576391+50,000000+100 */
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #576391 50%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #000000 0%, #576391 50%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #000000 0%, #576391 50%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

/*
	
	
	Theme Name: Ace Kids Parties theme
	Theme URI: http://html5blank.com
	Description: Ace Kids Parties theme
	Version: 1.4.3
	Author: Maka Basilio (@makabasilio)
	Author URI: http://acekidsparties.com.au
	Tags: Blank, HTML5, CSS3

	
*/
/*------------------------------------*\
    RESET
\*------------------------------------*/
html, body, section, header, footer, div, nav, article, a, ul, li, ol, quote, img, h1, h2, h3, h4, h5, h6, a {
  display: block;
  margin: 0;
  padding: 0; }

/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%; }

body {
  font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444; }

/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table; }

.clear:after {
  clear: both; }

.clear {
  *zoom: 1; }

img {
  max-width: 100%;
  vertical-align: bottom; }

a {
  color: #444;
  text-decoration: none; }

a:hover {
  color: #444; }

a:focus {
  outline: 0; }

a:hover,
a:active {
  outline: 0; }

input:focus {
  outline: 0;
  border: 1px solid #04A4CC; }

/*------------------------------------*\
    H1 H2 H3 H4 H5 H6
\*------------------------------------*/
.h2, body .aboutus h2, body .photos h2, body .prices h2, body .entertainer h2, body .bookings h2, body .contacts h2, body .invitation h2, body footer h2 {
  font-family: "sfcomic";
  font-size: 50px;
  padding-bottom: 20px; }

/*------------------------------------*\
    Navegation
\*------------------------------------*/
body {
  position: relative;
  padding-top: 94px;
  height: 100%;
  overflow-y: scroll;
  /* header */
  /*------------------------------------*\
      SECTION PHOTOS
  \*------------------------------------*/
  /*------------------------------------*\
      FOOTER
  \*------------------------------------*/ }
  body .header {
    width: 100%;
    height: 94px;
    padding: 0;
    background-color: #63ABDE;
    border-bottom: 3px solid #FFFFFF; }
    body .header .navbar-brand {
      position: fixed;
      left: 50px;
      top: 25px; }
    body .header .nav-tabs {
      border-bottom: none; }
      body .header .nav-tabs .nav-link {
        border-bottom-width: 0px; }
  body .navbar-nav {
    width: 75%;
    padding-top: 37px;
    margin-bottom: 0px; }
    body .navbar-nav a {
      font-family: "acmesa";
      font-size: 1.5em;
      color: #000000;
      padding: 15px 30px; }
      body .navbar-nav a:hover, body .navbar-nav a:active {
        color: #F5911E;
        background-color: #FFFFFF; }
  body section#aboutus {
    background-color: #ECF5E5; }
  body section#photos {
    background-color: #FFCADD; }
  body section#prices {
    background-color: #29A9E0; }
  body section#bookings {
    background-color: #FBD3A5; }
  body section#invitation {
    background-color: #000000; }
  body section.container {
    padding: 50px; }
  body .aboutus h2 {
    color: #F5911E; }
  body .aboutus p {
    font-family: "agencyr";
    padding: 0px 20px;
    font-size: 21px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #006837; }
  body .photos h2 {
    color: #662D8F; }
  body .prices h2 {
    color: #FFFFFF; }
  body .entertainer h2 {
    color: #0071BA; }
  body .bookings h2 {
    color: #7B490F; }
  body .contacts h2 {
    color: #FFFFFF; }
  body .invitation h2 {
    color: #FAEC21; }
  body .instagram-frame {
    background-color: #FFFFFF; }
  body footer {
    position: relative;
    background-color: #000000; }
  body footer h2 {
    color: #FFFFFF;
    text-align: center; }
  body footer h2 a {
    display: inline-block;
    padding: 0px;
    margin-right: -10px; }
  body footer h5 {
    font-family: "sfcomic";
    font-size: 18px;
    color: #FAEC21;
    text-align: center;
    line-height: 36px; }

/*------------------------------------*\
    Media screen
\*------------------------------------*/
@media screen and (max-width: 480px) {
  .header {
    width: 100%;
    height: 600px;
    padding: 0;
    background-color: #63ABDE;
    border-bottom: 3px solid #FFFFFF; }
    .header .navbar-brand {
      position: static;
      top: 15px; }

  .navbar-nav {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 20px; } }
/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=style.css.map */
