/*------------------------------------*\
	TYPOGRAPHY 
\*------------------------------------*/



@font-face {
  font-family: 'acmesa';
  src: url("scss/fonts/acmesa.eot");
  src: url("scss/fonts/acmesa.eot?#iefix") format("embedded-opentype"), url("scss/scss/fonts/acmesa.woff") format("woff"), url("scss/scss/fonts/acmesa.ttf") format("truetype"), url("scss/scss/fonts/acmesa.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }



  @font-face {
  font-family: 'agencyr';
  src: url("scss/fonts/AGENCYR.eot");
  src: url("scss/fonts/AGENCYR.eot?#iefix") format("embedded-opentype"), url("scss/fonts/AGENCYR.woff") format("woff"), url("scss/fonts/AGENCYR.ttf") format("truetype"), url("scss/fonts/AGENCYR.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

  @font-face {
  font-family: 'jcandlestick';
  src: url("scss/fonts/jcandlestick.eot");
  src: url("scss/fonts/jcandlestick.eot?#iefix") format("embedded-opentype"), url("scss/fonts/jcandlestick.woff") format("woff"), url("scss/fonts/jcandlestick.ttf") format("truetype"), url("scss/fonts/jcandlestick.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

  @font-face {
  font-family: 'champagne';
  src: url("scss/fonts/Champagne & Limousines.eot");
  src: url("scss/fonts/Champagne & Limousines.eot?#iefix") format("embedded-opentype"), url("scss/fonts/Champagne & Limousines.woff") format("woff"), url("scss/fonts/Champagne & Limousines.ttf") format("truetype"), url("scss/fonts/Champagne & Limousines.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

  @font-face {
  font-family: 'guardians';
  src: url("scss/fonts/Guardians.eot");
  src: url("scss/fonts/Guardians.eot?#iefix") format("embedded-opentype"), url("scss/fonts/Guardians.woff") format("woff"), url("scss/fonts/Guardians.ttf") format("truetype"), url("scss/fonts/Guardians.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

  @font-face {
  font-family: 'sfcomic ex';
  src: url("scss/fonts/SF Comic Script Extended.eot");
  src: url("scss/fonts/SF Comic Script Extended.eot?#iefix") format("embedded-opentype"), url("scss/fonts/SF Comic Script Extended.woff") format("woff"), url("scss/fonts/SF Comic Script Extended.ttf") format("truetype"), url("scss/fonts/SF Comic Script Extended.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

  @font-face {
  font-family: 'sfcomic';
  src: url("scss/fonts/SF Comic Script.eot");
  src: url("scss/fonts/SF Comic Script.eot?#iefix") format("embedded-opentype"), url("scss/fonts/SF Comic Script.woff") format("woff"), url("scss/fonts/SF Comic Script.ttf") format("truetype"), url("scss/fonts/SF Comic Script.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

