/*------------------------------------*\
    Media screen
\*------------------------------------*/

@media only screen and (min-width:320px) {
	
}
@media screen and (max-width:480px) {
	
	body{
		padding-top: 38px;
		overflow-x: hidden;


/*------------------------------------*\
    H1 H2 H3 H4 H5 H6
\*------------------------------------*/


		h1 {
			
		}


		h2 {
			font-family: "sfcomic";
			font-size: 30px;
			padding-bottom: 20px;
			padding-left: 5px;
		}

		h3 {
			font-family: "sfcomic ex";
			font-size: 28px;
			padding-bottom: 20px;
			text-align: center;
			color: $white;
		}

		h4 {
			font-family: "sfcomic";
			font-size: 20px;
			text-align: left;
			color: $white;
		}

		h5 {
			float:left;
			font-family: "sfcomic";
			font-size: 20px;
			text-align: left;
			padding-right: 5px;
			color: $white;
		}

		h6 {
			font-family: "guardians";
			font-size: 12px;
			text-align: right;
			color: $white;
		}




		.header {
			display: none;
			width: 100%;
			height: 600px;
			padding:0;
			background-color: $bluesky ;
			border-bottom: 3px solid $white;

			.navbar-brand {
				position: static;
				top: 15px;

			}

		}


		.navbar-nav {
			display: none;
			width: 100%;
			margin-bottom:0px;
			margin-top: 20px;


		}


		.section {
			width:100%;
			min-height:480px;
			padding: 15px;
			
		}
		

	 // SECTION HEROES



	 .select-heroes {
		position: absolute;
		display: block;
		bottom: 20px;
		width: 90%;
		height: 150px;
		margin-left: 0px;
		padding: 0px;
		padding-top: 0px;
		z-index: 13;





		

		ul {
			background-color: $black;



			.select-box {
			display: inline-block;
			width: 57px;
			height: 57px;
			margin-right: -3px;
			margin-bottom: -3px;
			border: 1px solid $black;;

				&:hover {
					border: 1px solid $white;
				}

			}

			.box-selected {
				border: 1px solid $white;

			}

			.greenlantern-btn {

				@include background ($greenlantern-btn , center, 100%);
			}

			.starwars-btn {

				@include background ($starwars-btn , center, 100%);
			}

			.flash-btn {

				@include background ($flash-btn , center, 100%);
			}

			.batman-btn {

				@include background ($batman-btn , center, 100%);
			}

			.captainamerica-btn {

				@include background ($captainamerica-btn , center, 100%);
			}

			.spiderman-btn {

				@include background ($spiderman-btn , center, 100%);
			}

			.pirate-btn {

				@include background ($pirate-btn , center, 100%);
			}

			.superman-btn {

				@include background ($superman-btn , center, 100%);
			}

			.ninja-btn {

				@include background ($ninja-btn , center, 100%);
			}


		}	

	}
	

	#greenlantern {
		display:none;

	}

	#starwars {	
		display:none;

	}

	#flash {
		display:none;

	}

	#batman {
		display:none;

	}

	#captainamerica {	
		display:none;

	}

	#spiderman {
		display:none;

	}

	#pirate {
		display:none;

	}

	#superman {	
		display:block;

	}

	#ninja {
		display:none;

	}

	

	.yellow-font {
		color: $yellow2;
	}

	.white-font {
		color: $white;
	}

	.red-font {
		color: $red;
	}

	.black-font {
		color: $black;
	}

	.blue-font {
		color: $lightblue2;
	}	

	
	.hero-container {
		position: fixed;
		top: 94px;
		left: 0px;
		width: 100%;


		z-index: 10;


		.hero-body {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0px;
			bottom: 0px;
			margin-left: 0%;

		}

		.greenlantern-body {

			@include background ($greenlantern-body, left 40px, 70%);
		}
		
		.starwars-body {

			@include background ($starwars-body, left -40px, 60%);
		}

		.flash-body {


		}

		.batman-body {

			@include background ($batman-body, 20px 0px, 40%);

		}

		.captainamerica-body {


		}

		.spiderman-body {

			@include background ($spiderman-body, left 20px, 70%);

		}

		.pirate-body {

			@include background ($pirate-body, 0px 40px, 75%);

		}

		.superman-body {

			@include background ($superman-body, left 20px, 75%);

		}

		.ninja-body {

			@include background ($ninja-body, 10px 40px, 75%);

		}




		.special-skills {
			position: absolute;
			width: 160px;
			height: auto;
			top: 10px;
			margin-left: 140px;
			padding-top: 70px;


			

			ul {

				padding-top: 10px;

				li {
					font-family: "champagne";
					font-size: 16px;
					text-align: center;
					text-transform: uppercase;


				}

			}

		}


		.hero-container-active {
			z-index: 12;
		} 

		.greenlantern-logo {

			@include background ($greenlantern-logo, center top, initial);
		}

		.starwars-logo {

			@include background ($starwars-logo, center top, initial );
		}

		.flash-logo {

			@include background ($flash-logo, center top, initial);
		}

		.batman-logo {

			@include background ($batman-logo, center top, initial);
			
		}

		.captainamerica-logo {

			@include background ($captainamerica-logo, center top, initial );
		}

		.spiderman-logo {

			@include background ($spiderman-logo, center top, initial );
		
		}

		.pirate-logo {

			@include background ($pirate-logo, center top, initial);
		}

		.superman-logo {

			@include background ($superman-logo, center top , initial);
		}

		.ninja-logo {

			@include background ($ninja-logo, center top, initial );
		}



		.hero-profile {
			display: none;
			position: absolute;
			width: 600px;
			height: 260px;
			bottom: 0px;
			left: 56px;
			padding: 15px;

			h5 {
				text-align: left;
				padding-left: 25px;
			}

			article {
				font-family: "agencyr";
				font-size: 20px;
				color: $white;
			}

		}


	}
	

	
	 //	SECTION ABOUT US
	

	

		
		.aboutus {

				p {
					padding: 0px 0px;
					text-align: justify;
					
				}
		}


	//	SECTION CONTACTS

		#yellow-signal {
				position: absolute;
				width:270px;
				height:480px;
				bottom: 0px;
				left: 10%;
				padding-right: 20px;
				background-image: url("../img/yellow-signal2.png");
				background-repeat: no-repeat;
				background-position: center bottom;
				z-index: 100;

				.text-block {
				position: absolute;
				top: 40px;
				right: 30px;
				width: 200px;
				height: 150px;
			}

		}

	//	SECTION ENTERTAINER


		table {
	

			td {
				line-height: 36px;
				display:flex;    
	    		align-items:baseline;
			}

		}


		table, th, td {
			padding: 0px 15px 5px 15px;		
		}

		.container {


			margin: 0px;

			.article {
				padding: 15px;
				padding-top: 50px;
			}

			p {
				padding: 0px;

				-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    		-moz-column-count: 1; /* Firefox */
	    		column-count: 1;

	    		-webkit-column-gap: 0; /* Chrome, Safari, Opera */
	    		-moz-column-gap: 0; /* Firefox */
	    		column-gap: 0;
			}

		}

		.col-12 {
			padding: 0px;
		}

		// SECTION BOOKINGS

		.terms {
			position: relative;
			display: block;
			bottom: 0px;
			right: 0px;
			left: 0px;
			margin-left: auto;
			margin-right: auto;
		}

		.send {
			position: relative;
			top: 10px;
			bottom: 20px;
			margin-left: 50%;
			margin-right: auto;
			
		}

		.spiderman-sliding {
			display: block;
			position: fixed;
			top: -600px;
			left: 0; 
	  		right: 0; 
	  		margin-left: auto; 
	  		margin-right: auto;
			width: 232px;
			height: 576px;
			z-index: 1001;

			@include background ($spiderman, center top, 75%);
		}

		.tooltips {
			display:none;
			position: fixed;
			top: 50px;
	  		left: 1%; 
			width: auto;
			height: auto;
			padding: 20px;
			background-color: $white;
			overflow: visible;
			z-index: 1001;
			border: 2px solid $black;

			@include border-radius (25px);

			.tip {
				display: none;
				position: absolute;
				width: 35px;
				height: 35px;
				left: -35px;
				bottom: 50px;
				z-index: 1002;

				@include background ($tip , center, initial);
			}

			article {
				max-width: 260px;
				max-height: 300px;
				font-family: "acmesa";
				font-size: 16px;
				text-align: justify;
				overflow-y: scroll;

				

				.accept {
					position: relative;
					float: right;
					padding: 9px 16px;
					margin-bottom: 15px;
					font-family: "acmesa";
					font-size: 21px;
					color: $white;
					background-color: $blue;
				}
			}
		}


		.tooltips2 {
			display:none;
			position: fixed;
			width: 250px;
			height: auto;
			top: 230px;
	  		left: 0px;
	  		right: 0px;
	  		margin-left: auto;
	  		margin-right: auto; 
			padding: 20px;
			background-color: $white;
			overflow: visible;
			z-index: 1001;
			border: 2px solid $black;
			
			.tip2 {
				display: none;
			}

			article {
				top: 220px;
				left: 100px;
			}
		}

	} // body ends

		

}
@media screen and (max-width:800px) {

	body {

		.header {
		

		

		


			.nav-tabs {

				border-bottom: none;


			
				.nav-link {
					border-bottom-width: 0px;
				}
			}



		



			.navbar-nav {
				width: 75%;
				padding-top:11px;
				margin-bottom:0px;

				a {
					font-family: "acmesa";
					font-size: 1.5em;
					color: $black;
					padding: 15px 30px;


					&:hover, &:active {
						color: $eggyolk;
						background-color: $white;

					}
				}	
			}
		}


		.entertainer {

			.article {
				padding: none;
			}

			p {
				
				text-align: left;


				-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    		-moz-column-count: 1; /* Firefox */
	    		column-count: 1;

	    		-webkit-column-gap: 0; /* Chrome, Safari, Opera */
	    		-moz-column-gap: 0; /* Firefox */
	    		column-gap: 0;
			}

		}	

		.profile-pic-padding {
		padding: 30px 0px 0px 0%;
		}



	}// body ends
	
}


@media screen and (max-width:1024px) {

	body {

		.profile-pic-padding {
		padding: 30px 0px 0px 0%;
		border: 1px solid blue;
		}	
	

	}


}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

