/*------------------------------------*\
    Media screen
\*------------------------------------*/

@media only screen and (min-width:320px) {
	
}
@media screen and (max-width:480px) {
	
	body{
		padding-top: 57px;
		overflow-x: hidden;


/*------------------------------------*\
    H1 H2 H3 H4 H5 H6
\*------------------------------------*/


		h1 {
			
		}


		h2 {
			font-family: "sfcomic";
			font-size: 30px;
			padding-bottom: 20px;
			padding-left: 5px;
		}

		h3 {
			font-family: "sfcomic ex";
			font-size: 28px;
			padding-bottom: 20px;
			text-align: center;
			color: $white;
		}

		h4 {
			font-family: "sfcomic";
			font-size: 20px;
			text-align: left;
			color: $white;
		}

		h5 {
			float:left;
			font-family: "sfcomic";
			font-size: 20px;
			text-align: left;
			padding-right: 5px;
			padding-left: 15px;
			color: $white;
		}

		h6 {
			font-family: "guardians";
			font-size: 12px;
			text-align: right;
			color: $white;
		}




		.header {
			display: none;
			width: 100%;
			height: 600px;
			padding:0;
			background-color: $bluesky ;
			border-bottom: 3px solid $white;

			.navbar-brand {
				position: static;
				top: 15px;

			}

		}


		.navbar-nav {
			display: none;
			width: 100%;
			margin-bottom:0px;
			margin-top: 20px;


		}

		#navMobile {
			display:block;
			position: fixed;
			width:100%;
			margin-top: -560px;
			background-color: $bluesky ;
			border-bottom: 3px solid $white;
			padding-top: 20px;
			z-index: 2000;


			.navbar-brand-mobile {
				left: 0px;
				right:0px;
				margin-left: auto;
				margin-right: auto;
			}

			ul {

				text-align: center;

				li {

					a {
						font-family: "acmesa";
						font-size: 1.5em;
						color: $black;
						padding: 17px 30px;


						&:hover, &:active {
						color: $blue;
						
						}
					}

				}

				div {

					a {
						font-family: "acmesa";
						font-size: 1.5em;
						color: $black;
						padding: 17px 30px;


							&:hover, &:active {
							color: $blue;
							
							}
					}
				}

			}
			
		}

		.section {
			width:100%;
			min-height:480px;
			padding: 15px;
			
		}
		

	 // SECTION HEROES



	 .select-heroes {
		position: absolute;
		display: block;
		bottom: 20px;
		width: 100%;
		height: 150px;
		margin-left: -15px;
		padding: 0px;
		padding-top: 0px;
		z-index: 13;





		

		ul {
			padding-left: 15px;


			.select-box {
			display: inline-block;
			width: 57px;
			height: 57px;
			margin-right: -3px;
			margin-bottom: -3px;
			border: 1px solid $black;;

				&:hover {
					border: 1px solid $white;
				}

			}

			.box-selected {
				border: 1px solid $white;

			}

			.greenlantern-btn {

				@include background ($greenlantern-btn , center, 100%);
			}

			.starwars-btn {

				@include background ($starwars-btn , center, 100%);
			}

			.flash-btn {

				@include background ($flash-btn , center, 100%);
			}

			.batman-btn {

				@include background ($batman-btn , center, 100%);
			}

			.captainamerica-btn {

				@include background ($captainamerica-btn , center, 100%);
			}

			.spiderman-btn {

				@include background ($spiderman-btn , center, 100%);
			}

			.pirate-btn {

				@include background ($pirate-btn , center, 100%);
			}

			.superman-btn {

				@include background ($superman-btn , center, 100%);
			}

			.ninja-btn {

				@include background ($ninja-btn , center, 100%);
			}


		}	

	}
	

	#greenlantern {
		display:none;

	}

	#starwars {	
		display:none;

	}

	#flash {
		display:none;

	}

	#batman {
		display:none;

	}

	#captainamerica {	
		display:none;

	}

	#spiderman {
		display:none;

	}

	#pirate {
		display:none;

	}

	#superman {	
		display:block;

	}

	#ninja {
		display:none;

	}

	

	.yellow-font {
		color: $yellow2;
	}

	.white-font {
		color: $white;
	}

	.red-font {
		color: $red;
	}

	.black-font {
		color: $black;
	}

	.blue-font {
		color: $lightblue2;
	}	

	
	.hero-container {
		position: absolute;
		top: 94px;
		left: 0px;
		width: 100%;


		z-index: 10;


		.hero-body {
			position: absolute;
			width: 100%;
			height: 70%;
			left: 0px;
			top: -95px;
			bottom: 0px;
			margin-left: 0%;

		}

		.greenlantern-body {

			@include background ($greenlantern-body, left bottom, 200px);
		}
		
		.starwars-body {

			@include background ($starwars-body, left bottom, 215px);
		}

		.flash-body {
			@include background ($flash-body, left bottom, 195px);

		}

		.batman-body {
			@include background ($batman-body, left bottom, 150px);

		}

		.captainamerica-body {
			@include background ($captainamerica-body, left bottom, 175px);

		}

		.spiderman-body {

			@include background ($spiderman-body, left bottom, 225px);

		}

		.pirate-body {

			@include background ($pirate-body, left bottom, 270px);

		}

		.superman-body {

			@include background ($superman-body, left bottom, 160px);

		}

		.ninja-body {

			@include background ($ninja-body, -15px bottom, 280px);

		}




		.special-skills {
			position: absolute;
			width: 160px;
			height: auto;
			top: -50px;
			left: auto;
			margin-right: 15px;
			padding-top: 80px;


			

			ul {

				padding-top: 10px;

				li {
					font-family: "champagne";
					font-size: 16px;
					text-align: center;
					text-transform: uppercase;


				}

			}

		}


		.hero-container-active {
			z-index: 12;
		} 

		.greenlantern-logo {

			@include background ($greenlantern-logo, center top, initial);
		}

		.starwars-logo {

			@include background ($starwars-logo, center top, initial );
		}

		.flash-logo {

			@include background ($flash-logo, center top, initial);
		}

		.batman-logo {

			@include background ($batman-logo, center top, initial);
			
		}

		.captainamerica-logo {

			@include background ($captainamerica-logo, center top, initial );
		}

		.spiderman-logo {

			@include background ($spiderman-logo, center top, initial );
		
		}

		.pirate-logo {

			@include background ($pirate-logo, center top, initial);
		}

		.superman-logo {

			@include background ($superman-logo, center top , initial);
		}

		.ninja-logo {

			@include background ($ninja-logo, center top, initial );
		}



		.hero-profile {
			display: none;
			position: absolute;
			width: 600px;
			height: 260px;
			bottom: 0px;
			left: 56px;
			padding: 15px;

			h5 {
				text-align: left;
				padding-left: 25px;
			}

			article {
				font-family: "agencyr";
				font-size: 20px;
				color: $white;
			}

		}


	}
	



	//	SECTION PRICES
	

	.prices {


		 col {
			padding-left: 30px;

		 }
		

	}

	
	 //	SECTION ABOUT US
	

	

		
		.aboutus {

				p {
					padding: 0px 0px;
					text-align: justify;
					
				}
		}


	//	SECTION ENTERTAINER

		.profile-pic {
			display: block;
			max-width: 410px;
			height: 400px;
			margin: 0px 3%;
			margin-top: 20px;
			border: 10px solid $eggyolk;

			@include background ($profile-pic, center top, initial);
		}	

		table {
	

			td {
				line-height: 36px;
				display:flex;    
	    		align-items:baseline;
			}

		}


		table, th, td {
			padding: 0px 15px 5px 15px;		
		}

		.container {


			margin: 0px;

			.article {
				padding: 15px;
				padding-top: 50px;
			}

			p {
				padding: 0px;

				-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    		-moz-column-count: 1; /* Firefox */
	    		column-count: 1;

	    		-webkit-column-gap: 0; /* Chrome, Safari, Opera */
	    		-moz-column-gap: 0; /* Firefox */
	    		column-gap: 0;
			}

		}

		.col-12 {
			padding: 0px;
		}

	// SECTION BOOKINGS

		section#bookings {
			padding-bottom: 150px;
		}

		.terms {
			position: relative;
			display: block;
			bottom: 0px;
			right: 0px;
			left: 0px;
			margin-left: auto;
			margin-right: auto;
		}

		.send {
			position: relative;
			top: 10px;
			bottom: 20px;
			margin-left: 50%;
			margin-right: auto;
			
		}

		input[type=checkbox] {  		
			position: absolute;
			bottom: 239px;
			left: 0px;
			margin-left: 282px;
	  		transform: scale(3);

		}

		.spiderman-sliding {
			display: block;
			position: fixed;
			top: -600px;
			left: 0; 
	  		right: 0; 
	  		margin-left: auto; 
	  		margin-right: auto;
			width: 232px;
			height: 576px;
			z-index: 1001;

			@include background ($spiderman, center top, 75%);
		}

		.tooltips {
			display:none;
			position: fixed;
			top: 200px;
	  		left: 5%; 
			width: auto;
			height: auto;
			padding: 20px;
			background-color: $white;
			overflow: visible;
			z-index: 1001;
			border: 2px solid $black;

			@include border-radius (25px);

			.tip {
				display: none;
				position: absolute;
				width: 35px;
				height: 35px;
				left: -35px;
				bottom: 50px;
				z-index: 1002;

				@include background ($tip , center, initial);
			}

			article {
				max-width: 260px;
				max-height: 300px;
				font-family: "acmesa";
				font-size: 16px;
				text-align: justify;
				overflow-y: scroll;

				input[type=checkbox] {
	  				margin-left: 20px;
	  				margin-top: 20px;
	  			}	

				
			}
		}


		.tooltips2 {
			display:none;
			position: fixed;
			width: 250px;
			height: auto;
			top: 360px;
	  		left: 0px;
	  		right: 0px;
	  		margin-left: auto;
	  		margin-right: auto; 
			padding: 20px;
			background-color: $white;
			overflow: visible;
			z-index: 1001;
			border: 2px solid $black;
			
			.tip2 {
				display: none;
			}

			article {
				top: 220px;
				left: 100px;
			}
		}

		.send {
			position: relative;
			bottom: 20px;
			margin-left: auto;
			margin-right: auto;
			padding: 10px 150%;
			font-family: "acmesa";
			font-size: 21px;
			color: $white;
			background-color: $blue;
		}


	//	SECTION CONTACTS

		#yellow-signal {
				position: absolute;
				width:270px;
				height:380px;
				bottom: 0px;
				left: 10%;
				padding-right: 20px;

				@include background ($yellow-signal2, top center, initial);

				z-index: 100;

				.text-block {
				position: absolute;
				top: 40px;
				right: 30px;
				width: 200px;
				height: 150px;
			}

		}

	//	SECTION INVITATION

		section#invitation {
			display: none;
		}	


	//	SECTION FOOTER

		footer {
			padding: 20px;
			padding-top: 100px;

			h5 {
				font-size: 14px;

			}
		}



	} // body ends

		

}
@media screen and (max-width:800px) {

	body {

		.header {
		

		

		


			.nav-tabs {

				border-bottom: none;


			
				.nav-link {
					border-bottom-width: 0px;
				}
			}



		



			.navbar-nav {
				width: 75%;
				padding-top:11px;
				margin-bottom:0px;

				a {
					font-family: "acmesa";
					font-size: 1.5em;
					color: $black;
					padding: 15px 30px;


					&:hover, &:active {
						color: $eggyolk;
						background-color: $white;

					}
				}	
			}
		}


		.entertainer {

			.article {
				padding: none;
			}

			p {
				
				text-align: left;


				-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    		-moz-column-count: 1; /* Firefox */
	    		column-count: 1;

	    		-webkit-column-gap: 0; /* Chrome, Safari, Opera */
	    		-moz-column-gap: 0; /* Firefox */
	    		column-gap: 0;
			}

		}	

		.profile-pic-padding {
		padding: 30px 0px 0px 0%;
		}



	}// body ends
	
}


@media screen and (max-width:1024px) {

	body {

		.profile-pic-padding {
		padding: 30px 0px 0px 0%;
		border: 1px solid blue;
		}	
	

	}


}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

