


@mixin rotate ($degree) {
-webkit-transform: rotate($degree);
    -moz-transform: rotate($degree);
    -ms-transform: rotate($degree);
    -o-transform: rotate($degree);
    transform: rotate($degree);
}

@mixin background ($url, $position, $size) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin border-radius ($radius) {
	border-radius: $radius;		
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@keyframes signal {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes signal {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}