$bluesky: #63ABDE;

$lightgreen1: #ECF5E5;
$green: #006837;
$purple: #662D8F;
$lightpurple: #FFCADD;
$lightblue1: #29A9E0;
$lightblue2: #7FCBEC;
$lightgreen2: #94BA87;
$lightpink: #F597A9;
$blue: #0071BA;
$red: #FF0000;
$darkblue: #1B1464;
$black: #000000;
$white: #FFFFFF;
$lightbrown1: #FBD3A5;
$lightbrown2: #F9BD78;
$brown: #7B490F;
$lightgray: #F0F0F0;
$eggyolk: #F5911E;
$yellow1: #FCC91B;
$yellow2: #FAEC21;

