$bluesky: #63ABDE;
$blue: #0071BA;
$lightblue1: #29A9E0;
$lightblue2: #7FCBEC;
$green: #006837;
$lightgreen1: #ECF5E5;
$lightgreen2: #94BA87;
$purple: #662D8F;
$lightpurple: #FFCADD;
$lightpink: #F597A9;
$red: #FF0000;
$darkblue: #00558C;
$black: #000000;
$white: #FFFFFF;
$lightbrown1: #FBD3A5;
$lightbrown2: #F9BD78;
$brown: #7B490F;
$lightgray: #F0F0F0;
$eggyolk: #F5911E;
$yellow1: #FCC91B;
$yellow2: #FAEC21;

// Background images variables

$profile-pic : "../img/profile-pic.jpg";
$yellow-signal : "../img/yellow-signal.png";
$spiderman : "../img/spiderman-sliding.png";
$tooltips : "../img/tooltips.png";

