$bluesky: #63ABDE;
$blue: #0071BA;
$lightblue1: #29A9E0;
$lightblue2: #7FCBEC;
$green: #006837;
$lightgreen1: #ECF5E5;
$lightgreen2: #94BA87;
$purple: #662D8F;
$lightpurple: #FFCADD;
$lightpink: #F597A9;
$red: #FF0000;
$darkblue: #00558C;
$black: #000000;
$black2: #040402;
$white: #FFFFFF;
$lightbrown1: #FBD3A5;
$lightbrown2: #F9BD78;
$brown: #7B490F;
$lightgray: #F0F0F0;
$eggyolk: #F5911E;
$yellow1: #FCC91B;
$yellow2: #FAEC21;
$dark-bg: black;

// Background images variables

$profile-pic : "../img/profile-pic.jpg";
$yellow-signal : "../img/yellow-signal.png";
$yellow-signal2 : "../img/yellow-signal2.png";
$spiderman : "../img/spiderman-sliding.png";
$tooltips : "../img/tooltips.png";

$greenlantern-btn : "../img/superhero-btn_01.jpg";
$starwars-btn : "../img/superhero-btn_02.jpg";
$flash-btn : "../img/superhero-btn_03.jpg";
$batman-btn : "../img/superhero-btn_04.jpg";
$captainamerica-btn : "../img/superhero-btn_05.jpg";
$spiderman-btn : "../img/superhero-btn_06.jpg";
$pirate-btn : "../img/superhero-btn_07.jpg";
$superman-btn : "../img/superhero-btn_08.jpg";
$ninja-btn : "../img/superhero-btn_09.jpg";



$greenlantern-body : "../img/greenlantern-body.png";
$starwars-body : "../img/starwars-body.png";
$flash-body : "../img/flash-body.png";
$batman-body : "../img/batman-body.png";
$captainamerica-body : "../img/captainamerica-body.png";
$spiderman-body : "../img/spiderman-body.png";
$pirate-body : "../img/pirate-body.png";
$superman-body : "../img/superman-body.png";
$ninja-body : "../img/ninja-body.png";


$greenlantern-logo : "../img/greenlantern-logo.png";
$starwars-logo : "../img/starwars-logo.png";
$flash-logo : "../img/flash-logo.png";
$batman-logo : "../img/batman-logo.png";
$captainamerica-logo : "../img/captainamerica-logo.png";
$spiderman-logo : "../img/spiderman-logo.png";
$pirate-logo : "../img/pirate-logo.png";
$superman-logo : "../img/superman-logo.png";
$ninja-logo : "../img/ninja-logo.png";



$greenlantern-preview : "../img/akp_invitation_greenlantern.jpg";
$starwars-preview : "../img/akp_invitation_starwars.jpg";
$flash-preview : "../img/akp_invitation_flash.jpg";
$batman-preview : "../img/akp_invitation_batman.jpg";
$captainamerica-preview : "../img/akp_invitation_captainamerica.jpg";
$spiderman-preview : "../img/akp_invitation_spiderman.jpg";
$pirate-preview : "../img/akp_invitation_pirate.jpg";
$superman-preview : "../img/akp_invitation_superman.jpg";
$ninja-preview : "../img/akp_invitation_ninja.jpg";

$tip : "../img/tip.png";

